@model ECommerceSystem.Models.ShippingDetail

<h2>Add Shipping Detail</h2>

<form asp-action="Create" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label>Order</label>
        <select asp-for="OrderId" class="form-control">
            @foreach (var o in ViewBag.Orders)
            {
                <option value="@o.OrderId">Order #@o.OrderId</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" placeholder="Enter Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Status</label>
        <select asp-for="Status" class="form-control">
            <option>Pending</option>
            <option>Shipped</option>
            <option>Delivered</option>
        </select>
    </div>

    <button class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}