@model IEnumerable<Project>

<h2>Projects</h2>

<a href="/Projects/Create">Create Project</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td>@p.ProjectId</td>
            <td>@p.Title</td>
        </tr>
    }
</table>