@model List<ECommerceSystem.Models.Customer>

<h2>Customers</h2>

<a asp-action="Create" class="btn btn-success mb-3">Add Customer</a>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>

    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Name</td>
            <td>@customer.Email</td>
        </tr>
    }
</table>