@model Department

<h2>Create Department</h2>

<form asp-action="Create">

    <label>Department Name</label>
    <input asp-for="Name" />

    <br /><br />

    <button type="submit">Save</button>

</form>